@import "media";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #4d69a2;
  text-decoration: none;
}

h2 {
  font-size: 18px;
}

body {
  height: 100vh;
  overflow-x: hidden;
}

.modal {
  background: #666666;
  z-index: 3333;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 400px;
  max-width: 500px;
  border-radius: 20px;
  height: 300px;
  display: none;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-weight: 500;
  font-size: clamp(1.3em, 2vw, 1.5em);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  .close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
  }
}

.container {
  display: flex;
  flex-flow: column;
  transition: 300ms ease filter;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  > main,
  footer {
    flex: 1;
  }

  footer {
    height: 606px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-flow: column;

    > div {
      flex: 1;
    }

    .footer-upper {
      display: flex;
      flex-flow: column;
      background-color: #4d69a2;
      padding: 10px;

      > div {
        display: flex;
        flex-flow: row wrap;
        flex: 1;
        align-items: center;
        justify-content: center;
      }

      .footer-lead {
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;

        h1 {
          font-family: "Playfair Display";
          color: #fff;
          font-weight: 700;
          font-size: clamp(1.6em, 5vw, 2em);

          span {
            color: #ffffff87;
            font-weight: 600;
            font-family: "Playfair Display";
          }
        }

        p {
          color: #fff;
          font-family: "Open Sans";
          font-size: clamp(0.8em, 2vw, 1em);
          text-align: center;
        }
      }

      .footer-form input {
        width: 343px;
        min-width: 190px;
        padding: 10px;
        border: none;
        background-color: #fff;
        height: 54px;
        margin: 10px;
        appearance: none;

        &::placeholder {
          font-size: 17px;
          color: #aaaaaa;
        }
      }

      .footer-form button {
        width: 252px;
        height: 54px;
        margin-right: 10px;
        border: none;
        color: #000000;
        background-color: #f5be13;

        h2 {
          display: inline;
          position: relative;
          top: 0px;
          font-weight: 600;
          font-size: clamp(0.8em, 3vw, 1.6em);
          font-family: "Open Sans";
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }

      .fas {
        display: inline;
        font-size: clamp(0.8em, 3vw, 1.6em);
        top: 4px;
      }
    }

    .footer-bottom {
      display: flex;
      background-image: url(img/bottombg.png);
      background-color: #edebe1;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;

      & .footer-bottom--top {
        display: flex;
        flex-flow: row wrap;
        width: 800px;
        margin: auto;
        place-content: flex-end;

        > div {
          display: flex;
          flex-flow: column;
          flex: 1;
          min-width: 200px;
        }

        & .footer-bottom--address {
          h2 {
            text-transform: uppercase;
            font-size: 15px;
            margin-bottom: 10px;
          }
          p {
            color: #666666;
            font-size: 15px;
            font-weight: 300;
          }

          margin: 0 0 20px 10px;
        }

        & .footer-bottom--contact {
          h2 {
            text-transform: uppercase;
            font-size: 15px;
            margin-bottom: 10px;
          }

          a {
            font-weight: 300;
          }

          & > a:nth-child(3) {
            color: #666666;
            font-weight: 300;
          }

          margin: 0 0 20px 10px;
        }

        & .footer-bottom-links {
          h2 {
            text-transform: uppercase;
            font-size: 15px;
            margin-bottom: 10px;
          }

          a {
            font-size: 15px;
            font-weight: 300;
          }

          margin: 0 0 40px 10px;
        }
      }
      .footer-bottom--bottom {
        position: fixed;
        bottom: 0;
        height: 36px;
        width: 100%;
        display: flex;
        flex-flow: row;

        > div {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #e2e0d6;
        }

        p {
          font-family: "Open Sans";
          color: #777777;
          font-size: clamp(0.5em, 2vw, 0.8em);
          text-align: center;
        }

        & .bottom-right span {
          color: #4d69a2;
        }
      }
    }
  }
}
